<div class="container ">
   
        <div class="d-flex align-items-center">
            <img class='rounded-circle'src="/website1/assets/img/2.jpg" alt="">
        <p>
        <h1>The Second Heading </h1> is pretty cool too.</p>
        <br>
        

        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce
        dapibus, tellus ac cursus commodo.
    <br>
    </div>
    </div>
    </div>