<div class="card bg-dark text-dark">
  <img src="website1/assets/img/big-project-image.png" class="img-fluid" alt="Responsive image">
  <div class="card-img-overlay">
      <div class="row">
        <div class="col">
            <h1 class="centered bg-light w-100 d-flex justify-content-center mt-5 display-2"><strong>One Page Wonder</strong></h1>
            <h2 class="bg-light d-flex justify-content-center display-4"><strong>Will knock your socks off</strong></h2>
        </div>
      </div>
  </div>
</div>
